@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap&family=Dosis:wght@200;300;400;500;600;700;800&display=swap&family=Ranchers&display=swap');

@import './variables';

/* --------------------------------------
.      font-family: 'Aladin', cursive;
.      font-family: 'Roboto', sans-serif;
.      font-family: Dosis;
.      font-family: 'Ranchers', cursive;
-------------------------------------- */




html {
  scroll-behavior: smooth;
}

body{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: sans-serif;
  font-size: 14px;  

  background-color: $bodyBG;

}













/* ----------------------------------
.           THEME COLOR
---------------------------------- */
.nav.nav-wrapper, #footer{
  background-color: $themeColor;
}

.nav.nav-wrapper {
  font-family: 'Aladin', cursive;

  
  li a {
    font-size: 150%;
  }
}
nav ul li:hover {
  background-color: rgba($color: $themeColor, $alpha: 0.3);
}














/* ----------------------------------
.           STICKY FOOTER
---------------------------------- */
#wrapper{
  min-height: 100vh;
  margin-bottom: $wrapperBottomMargin;
}

#wrapper::after, #footer{
  content: "";
  display: block;

  height: $footerHeight;
}

#footer{
  overflow: hidden;
}












/* ------------------------------------
.              HAMBURGER
------------------------------------ */
.sidenav-trigger{
  position: relative;
  top: 10px;
  cursor: pointer;
}
.sidenav-trigger > div {
  width: 30px;    
  height: 3px;
  margin: 7px;
  background-color: #fff;
  border-radius: 30px;
}












/* ------------------------------------
.    FORM INPUT INTO PRIMARY COLOR
------------------------------------ */
.input-field input[type=text]:focus + label, .input-field .materialize-textarea:focus + label {
  color: $themeColor !important;
}

.input-field input[type=text]:focus, .input-field .materialize-textarea:focus {
  border-bottom: 1px solid $themeColor !important;
  box-shadow: 0 1px 0 0 $themeColor !important;
}

.prefix.active{
  color: $themeColor !important;
}




.tabs .tab a, .tabs .tab a:focus, .tabs .tab a:focus {
  background: $bodyBG !important;
  color: $themeColor !important;
}


.tabs .tab a.active, .tabs .tab a:focus, .tabs .tab a:focus.active {
  background: $themeColor !important;
  color: #fff !important;
}

.tabs .indicator {
   background-color: darken($themeColor, 10) !important;
}