.halfway-fab{
  background-color: red;
}
.card-content{
  background: rgba(255, 0, 0, 0.1);
}
.card-action{
  letter-spacing: 2px;
  font-weight: bold;
  color: red;
}
p{
  text-indent: 100px;
  text-align: justify;
}