
.myAboutUsPage {


  #myProfileIcon {
    margin: 50px auto 0px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    background-color: red;
    background: url('/SilvenLEAF.jpg') center/cover;
  }


  h3 {
    margin: 20px 0px;
  }

  p {
    text-align: justify;
    text-indent: 50px;



    .mySkills, strong {
      font-weight: bold;
    }
  }

}

