
@import '../variables';


#myContactForm {

  h2{
    margin: 20px;
    font-family: 'Aladin', Dosis, sans-serif, cursive;
  }

  margin: 20px;
  margin-top: 50px;
  padding:30px;
  padding-top: 10px;

  
  
  box-shadow: $awesomeShadow;
  background-color: #fff;
}



#myDownloadBtn{
  background-color: red;
}

