@import '../variables.scss';



.myHeroHolder{
  margin-top: 100px;
  

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;  
}



.myHeroTitle{
  position: relative;
  top: -20px;
  font-family: Ranchers, Aladin, Dosis, sans-serif;
}


